html, body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  height: 100%;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.advantages {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.advantages h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  width: 160px;
}

.advantages-text {
  background-color: #81b3d2;
  list-style: none;
}

.academy-link {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
}

.primary-features {
  padding: 61px 56px 67px 55px;
}

.primary-features h3 {
  padding-top: 23px;
  padding-bottom: 5px;
}

.primary-features li:last-child h3 {
  padding-top: 18px;
  padding-bottom: 9px;
}

.secondary-features {
  background-color: #eeeeee;
  padding: 48px 56px 47px 55px;
}

.secondary-features li p:nth-child(3) {
  margin-top: 7px;
}

.secondary-features h3 {
  padding-top: 0;
  padding-bottom: 10px;
}

.features {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
}

.features h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  width: 160px;
  margin: 0;
}

.choose-date {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #333333;

  padding: 0px 0px 47px 5px;
  margin: 0;
}

.deserve-more {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 13px;
}

fieldset {
  border: none;
}

.five-reasons {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.got-interested {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;

  padding: 47px 0px 24px 4px;
  margin: 0;
}

.hotel-link {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  margin-left: 30px;
}

.hotel-link:hover {
  color: #81b3d2;
}

.hotel-link:active {
  color: #cacaca;
}

.hotels-type {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.hotels-price {
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.hotels-rank-text {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  background-color: #f2f2f2;

  padding: 3px 14px;
}

.hotels-rank {
  flex-direction: column;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  padding: 30px 0px 25px 523px;
}

.hotels-seemore-button {
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;

  padding: 3px 16px;
}

.hotels-book-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  padding: 3px 16px;
}

.logo-htmlacademy {
  fill: #000000;
}

.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
  fill: #81b3d2;
}

.logo-htmlacademy:active {
  fill: #bdbbbc;
}

.booking-form {
  display: flex;
  flex-direction: column;
  margin: auto;

}

.search-form {
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: white;

  width: 456px;
  padding: 56px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-form p {
  display: flex;
  align-items: center;
}

.search-form-header-button-text,
.hotels-book-button {
  background-color: #766357;
  cursor: pointer;
}

.search-form-header-button-text:hover,
.hotels-book-button:hover {
  background-color: #604e43;
}

.search-form-header-button-text:active,
.hotels-book-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.search-form-header-button-container {
  display: flex;
  justify-content: center;
}

.search-form-header-button-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;

  padding: 30px 139px;
  margin: 0 auto;
}

.search-form-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;

  padding: 15px 0px;
  width: 100%;

  background-color: #81b3d2;
}

.search-form-button:hover,
.social-icons:hover,
.social-icons:focus,
.hotels-seemore-button:hover {
  background-color: #669ec0;
}

.search-form-button:active,
.hotels-seemore-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.search-item {
  display: flex;
  flex-direction: column;
}

.search-item p {
  margin: 0 0 32px 0;
}

.search-item p:first-child > label {
  margin-right: 18px;
}

.search-item p:last-child > label {
  margin-right: 14px;
}

.date-arrival-calendar {
  fill: black;
  opacity: 0.1;
  position: absolute;
  left: 85%;
  top: 16%;
}

.date-departure-calendar {
  fill: black;
  opacity: 0.1;
  position: absolute;
  left: 85%;
  top: 33%;
}

.date-arrival-calendar:hover,
.date-departure-calendar:hover {
  opacity: 1;
}

.date-arrival-calendar:active,
.date-departure-calendar:active {
  fill: #81b3d2;
  opacity: 1;
}

.minus {
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: 67% 49%;
  background-color: #f2f2f2;
}

.minus:hover,
.minus:focus {
  background-image: url("../img/minus_black.png");
}

.minus:active {
  background-image: url("../img/minus_blue.png");
}

.plus {
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 55% 49%;
  background-color: #f2f2f2;
}

.plus:hover,
.plus:focus {
  background-image: url("../img/plus_black.png");
}

.plus:active {
  background-image: url("../img/plus_blue.png");
}

.search-input {
  display: flex;
  width: 50%;
}

.search-input span {
  cursor: pointer;
  padding: 18px 20px;
}

.search-item-number {
  display: flex;
  margin-bottom: 53px;
}

.search-item-number > div {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-item-number > div:nth-child(2) {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.search-item-number label {
  margin-right: 34px;
}

.search-item-number > div:nth-child(2) label {
  margin-right: 26px;
}

.search-item input,
.search-item-number input {
  font: inherit;
  color: #000000;
  text-transform: inherit;
  background-color: #f2f2f2;
  border: 0px;
  box-sizing: border-box;
}

.search-form input {
  flex-grow: 1;
  padding: 5px 17px;
}

.search-item-number input {
  min-width: 38px;
  padding: 4px 0px;
  text-align: center;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
  border: 2px #e5e5e5;
}

.hotels-filter-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 45px;
}

.hotels-filter-text li:hover,
.hotels-filter-text li:focus {
  color: #000000;
}

.show-hotels-button:hover,
.show-hotels-button:focus {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid white;
}

.sort-result-text {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;

  padding: 0px 0px 9px 71px;
}

.sort-by-text {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  margin-left: 48px;
  margin-right: 42px;
  margin-bottom: 5px;
}

.sort-by-param ul {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  display: flex;
  width: 240px;
  justify-content: space-between;
  list-style: none;
}

.sort-by-param a {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: #81b3d2 dotted underline;
  opacity: 0.3;
}

.sort-by-param a:hover,
.sort-by-param a:focus {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #81b3d2;
  opacity: 1;
}

.sort-by-param a:active {
  color: #000000;
  text-decoration: none;
}

.sort-by-param a.sort-by-current {
  color: #81b3d2;
  text-decoration: none;
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ----- Сеточные стили ----- */
.academy-link {
  width: 200px;
}

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 256px;
}

.advantages-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 39px 330px 38px 330px;
}

.advantages-text {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 47px;
}

.advantages-text h3 {
  margin: 0;
}

.advantages-number {
  padding: 11px 0;
}

.advantages-description {
  margin-top: -4px;
  padding: 0px 2px 0px 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px -5px #000101;
}

.filter-button {
  margin-left: 506px;
  padding-top: 4px;
}

.filter-button-down {
  margin-left: 7px;
}

.filter-button a {
  fill: #cacaca;
}

.filter-button a:hover {
  fill: #000000;
}

.filter-button a:focus,
.filter-button a:active {
  fill: #81b3d2;
}

a.filter-button-current {
  fill: #81b3d2;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 32px;
  padding-top: 32px;
  align-items: center;
  position: relative;

  background-color: rgb(253, 253, 253, 0.9);
}

.footer-social {
  width: 204px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  padding-right: 52px;

  list-style: none;
}

.social-icons {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #81b3d2;
}

.social-icons:active {
  background-color: #5496bd;
}

.social-icons img:active {
  opacity: 0.35;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin-right: 105px;
  width: 203px;
}
.footer-copyright a {
  padding-top: 3px;
}

.hotels-filter {
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.hotels-filter-form {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 11px 68px;
}

.sub-container {
  display: flex;
}

.hotels-filter-param {
  display: flex;
  flex-direction: column;
  width: 255px;
}

.hotels-short-info {
  display: flex;
  flex-direction: column;
}

.hotels-short-info h3 {
  margin: 0;
  padding-top: 25px;
}

.hotels-list {
  display: flex;
}

.hotels-list-element {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.hotels-list-element > a {
  padding: 30px 0px 30px 72px;
  display: inline-block;
}

.hotels-list-element > a > img {
  display: block;
}

.hotels-type-price {
  justify-content: space-between;
  padding: 6px 0px 12px 30px;
  display: flex;
  justify-content: space-between;
  width: 181px;
  align-items: baseline;
}


.icon-house h3,
.icon-food h3,
.icon-souvenirs h3 {
  text-align: center;
}


.icon-souvenirs {
  position: relative;
  bottom: 3%;
}


.interested {
  display: flex;
  flex-direction: column;
}

.intro-welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 508px;
  background-image: url("../img/index-background.jpg");
  background-position: 0px -56px;
  background-repeat: no-repeat;
}

.map {
  height: 475px;
  position: relative;
}

.map-field {
  width: 100%;
}

.main-header {
  background-color: #ffffff;
}

.main-header-logo {
  width: 140px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.open-form-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  color: #ffffff;

  padding: 31px 0px;
}

/* navigation menu */
.nav {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  height: 100%;
}

.nav a:hover {
  color: #81b3d2;
}

.nav a:active {
  color: #c7c7c7;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 73px;
  list-style: none;
  color: #000000;
}

 ul.site-nav {
  margin: 0;
}

.site-nav li:nth-child(4n-3),
.site-nav li:nth-child(4n-4) {
  width: 239px;
}

.site-nav li:nth-child(4n-2),
.site-nav li:nth-child(4n-1) {
  width: 288px;

}

.site-nav li:nth-child(4n+1),
.site-nav li:nth-child(4n+2) {
  text-align: left;
}

.site-nav li:nth-child(4n+3),
.site-nav li:nth-child(4n+4) {
  text-align: right;
}

.site-nav a {
  display: block;
  vertical-align: middle;
  padding: 15px 0;
}

.site-nav a.current {
  color: #766357;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #81b3d2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}




.stars {
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: right;
  margin-bottom: 47px;
}

.stars-four {
  width: 80%;
}

.stars-three {
  width: 60%;
}

.stars-two {
  width: 37%;
}

.sort-fieldset {
  display: flex;
  margin: 9px 0px 0px 0px;
  align-items: center;

  border-bottom: 1px solid #e5e5e5;
}

.tel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  width: 227px;

  margin-left: 130px;
}

.tel p {
  margin: 0;
  padding-bottom: 6px;
}

.welcome {
  width: 1200px;
  height: 510px;
}

.welcome-text {
  padding-bottom: 20px;
}

.check {}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-box {
  position: absolute;
  margin-left: -2.9em;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.check-input:checked+.check-box {
  background-image: url("../img/checkbox-on.svg");
}

.check-input:disabled+.check-box {
  background-image: url("../img/checkbox-disabled.svg");
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;

  margin-right: 72px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  margin-left: 13px;
}

.filter-hotels-param {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-left: 3px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 19px;

  border: 2px solid #ffffff;
  border-radius: 2px;

  margin-left: 12px;

  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 44px;
  padding-right: 9px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 12px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;

  width: 6px;
  height: 6px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show-hotels-button {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-hotels-button:hover {
  color: #000000;
  background: #ffffff;
}

.features-description {
  width: 289px;
}

.features li {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-filter-text li{
  padding-bottom: 25px;
}
.hotels-filter-text li:last-child {
  padding-bottom: 20px;
  padding-bottom: 20px;
}

.hotels-buttons {
  padding-left: 31px;
  display: flex;
  width: 257px;
  justify-content: space-between;
  align-items: center;
}
