html, body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.advantages {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

/* добавить шрифт в поле ползунка (цифры от-до) */
.advantages h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  width: 160px;
}

.advantages-text {
  background-color: #81b3d2;
  list-style: none;
}

.academy-link {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
}

.primary-features {
  padding: 61px 56px 67px 55px;
  letter-spacing: 0.1px;
}

.primary-features h3 {
  padding-top: 23px;
  padding-bottom: 5px;
}

.primary-features li:last-child h3 {
  padding-top: 18px;
  padding-bottom: 9px;
}

.secondary-features {
  background-color: #eeeeee;
  padding: 48px 56px 47px 55px;
}

.secondary-features li p:nth-child(3) {
  margin-top: 7px;
}

.secondary-features h3 {
  padding-top: 0;
  padding-bottom: 10px;
}

.features {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
  letter-spacing: 0.1px;
}

.features h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  width: 160px;
  margin: 0;
}

.choose-date {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #333333;

  padding: 0px 0px 47px 5px;
  margin: 0;
}

.deserve-more {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 13px;
}

fieldset {
  border: none;
}

.five-reasons {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  letter-spacing: 0.1px;
}

.got-interested {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;

  padding: 47px 0px 24px 4px;
  margin: 0;
}

.hotel-link {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  margin: 0;
  padding: 0px 0px 0px 30px;
}

.hotel-link:hover {
  color: #81b3d2;
}

.hotel-link:active {
  color: #cacaca;
}

.hotels-type {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.hotels-price {
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.hotels-rank-text {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  background-color: #f2f2f2;

  padding: 3px 14px;
}

.hotels-rank {
  flex-direction: column;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  padding: 30px 0px 25px 523px;
}

.hotels-seemore-button {
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  padding: 3px 16px;
}

.hotels-book-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  padding: 3px 17px;
}

li.page-current {
  color: #766357;
}

.nav {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.nav a:hover {
  color: #81b3d2;
}

.nav a:active {
  color: #c7c7c7;
}

.open-form-button,
.hotels-book-button {
  background-color: #766357;
}

.open-form-button:hover,
.hotels-book-button:hover {
  background-color: #604e43;
}

.open-form-button:active,
.hotels-book-button:active {
  background-color: #503e33;
  color: #857871;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #81b3d2;
}

.search-form {
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-form-header-button-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.search-form-button-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;

  margin: 58px 56px;
  padding: 15px 0px;
}

.search-form-button,
.social-icons li,
.hotels-seemore-button {
  background-color: #81b3d2;
}

.search-form-button:hover,
.social-icons li:hover,
.hotels-seemore-button:hover {
  background-color: #669ec0;
}

.search-form-button:active,
.hotels-seemore-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

/*надо будет поменять цвет у свг .social-icons:active */
.search-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: 0px;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
  border: 2px #e5e5e5;
}

.search-item-number input {
  font: inherit;
  text-align: center;
  background-color: #f2f2f2;
  border: 0px;
}

.social-icons li {
  height: 46px;
  weight: 48px;
}

.hotels-filter-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 44px;
}

.hotels-filter-text li:hover,
.hotels-filter-text li:focus {
  color: #000000;
}

/*при фокусе (таб) никак не выделяется - ??? */
.show-hotels-button:hover,
.show-hotels-button:focus {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid white;
}

.sort-result-text {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.sort-by-text {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-left: 48px;
  margin-right: 38px;
  padding-top: 4px;
}

.sort-by-param li.sort-by-current {
  color: #81b3d2;
  text-decoration: none;
  opacity: 1;
}

.sort-by-param li {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: #81b3d2 dotted underline;
  opacity: 0.3;
}

.sort-by-param li:hover {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #81b3d2;
  opacity: 1;
}

.sort-by-param li:active {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ----- Сеточные стили ----- */
.academy-link {
  width: 200px;
}

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 256px;
}

.advantages-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 39px 330px 38px 330px;
}

.advantages-text {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 47px;
}

.advantages-text h3 {
  margin: 0;
}

.advantages-number {
  padding: 11px 0;
}

.advantages-description {
  margin-top: -4px;
  letter-spacing: 0.1px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  width: 568px;
  margin: auto;
  position: absolute;
  left: 51%;
  margin-left: -300px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px -5px #000101;
}

.filter-button {
  margin-left: 511px;
  padding-top: 4px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*height: 115px;*/
  position: relative;
  margin: 0 72px;
  background-color: rgb(253, 253, 253, 0.9);
}

.hotels-filter {
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.hotels-filter-form {
  display: flex;
  justify-content: space-between;
  padding: 27px 0px 8px 69px;
}

.sub-container {
  display: flex;
}

.hotels-filter-param {
  display: flex;
  flex-direction: column;
  width: 255px;
}

.hotels-list-element {
  display: flex;
  flex-direction: row;
}

.hotels-short-info {
/*  padding-left: 30px;
  padding-right: 522px;*/
  display: flex;
  flex-direction: column;
}

.hotels-short-info h3 {
  margin: 0;
  letter-spacing: 0.2px;
  padding-top: 25px;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  width: 1056px;
}

.hotels-list ul {
  padding: 0;
  margin: 0;
}

.hotels-pic {
  padding: 30px 0px 25px 0px;
}

.hotels-type-price {
  justify-content: space-between;
  padding: 6px 0px 12px 30px;
  display: flex;
  justify-content: space-between;
  width: 181px;
  align-items: baseline;
}

.icon-house {
  width: 100%;
  height: 72px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-house h3,
.icon-food h3,
.icon-souvenirs h3 {
  text-align: center;
}

.icon-food {
  width: 100%;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-souvenirs {
  /*width: 100%;
  height: 76px;
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 112px -10px; */
  position: relative;
  bottom: 3%;
}

.interested {
  display: flex;
  flex-direction: column;
}

.intro-welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 508px;
  background-image: url("../img/index-background.jpg");
  background-position: 0px -56px;
  background-repeat: no-repeat;
}

.map {
  height: 476px;
  margin-top: 291px;
}

.main-header {
  background-color: #ffffff;
  height: 56px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 0 72px;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  position: absolute;
}

.nav {
  align-self: flex-end;
}

.open-form-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;

  padding: 31px 0px;
}

.search-form {
  height: 395px;
  width: 570px;
  display: flex;
  flex-direction: column;

  align-items: stretch;
  background-color: white;
}

.site-nav {
  flex-direction: row;
  display: flex;
  margin: 0;
  width: 1200px;
  padding: 0;
  list-style: none;
}

.site-nav li {
  padding-bottom: 16px;
}

.site-nav li:first-of-type {
  padding-left: 75px;
  padding-right: 140px;
}

.site-nav li:nth-child(3) {
  padding-left: 390px;
  padding-right: 160px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  width: 150px;
  list-style: none;
}

.stars {
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: right;
  margin-bottom: 47px;
}

.sort-fieldset {
  display: flex;
  margin: 9px 72px;
  align-items: center;
}

.sort-by-param ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 240px;
  justify-content: space-between;
  list-style: none;
  padding-top: 4px;
}

.tel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  width: 227px;
}

.welcome {
  width: 1200px;
  height: 510px;
}

.welcome-text {
  padding-bottom: 20px;
}

.check {}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-box {
  position: absolute;
  margin-left: -2.9em;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.check-input:checked+.check-box {
  background-image: url("../img/checkbox-on.svg");
}

.check-input:disabled+.check-box {
  background-image: url("../img/checkbox-disabled.svg");
}

/*  как проверить?
/*
.option {
  display: block;
  margin-bottom: 0.25px;
*/
.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;

  margin-right: 72px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  margin-left: 13px;
  letter-spacing: 0.1px;
}

.filter-hotels-param {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 0.2px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 19px;

  border: 2px solid #ffffff;
  border-radius: 2px;

  margin-left: 12px;

  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 44px;
  padding-right: 9px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 12px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show-hotels-button {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-hotels-button:hover {
  color: #000000;
  background: #ffffff;
}

.features-description {
  width: 289px;
}

.features li {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-filter-text li{
  padding-bottom: 25px;
}
.hotels-filter-text li:last-child {
  padding-bottom: 24px;
}

.hotels-buttons {
  padding-left: 31px;
  display: flex;
  width: 257px;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1px;
}
